<p-dialog
  [(visible)]="isShowDialog"
  [style]="{ width: '30rem' }"
  header="Đổi mật khẩu"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="hideDialog()"
  [dismissableMask]="false"
  [closable]="isNeedUpdating?false:true"
  [draggable]="false"
>
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="auth-body">
          <form
            class="md-float-material"
            (ngSubmit)="changePassword()"
            [formGroup]="brandForm"
          >
            <div class="auth-box">
              <div class="grid">
                <div class="col">
                  <div class="flex justify-content-center">
                    <div class="field w-100">
                      <div class="form-group mt-2 mb-4">
                        <label for="password">Mật khẩu cũ</label>
                        <input
                          id="password"
                          [(ngModel)]="password"
                          pInputText
                          class="form-control"
                          type="password"
                          appInputRestriction
                      formControlName="password"
                          [class]="
                            displayMessage.password ? 'ng-dirty ng-invalid' : ''
                          "
                        />
                        <p-message
                          severity="error"
                          *ngIf="displayMessage.password"
                          text="{{ displayMessage.password }}"
                        ></p-message>
                      </div>
                      <div class="form-group mb-4">
                        <label for="newPassword">Mật khẩu mới</label>
                        <p-password
                          promptLabel="Nhập mật khẩu"
                          weakLabel="Yếu"
                          mediumLabel="Trung bình"
                          strongLabel="Mạnh"
                          [(ngModel)]="newPassword"
                          inputId="newPassword"
                          appendTo="body"
                          appInputRestriction
                      formControlName="newPassword"
                          [class]="
                            displayMessage.newPassword
                              ? 'ng-dirty ng-invalid'
                              : ''
                          "
                          inputStyleClass="form-control"
                        >
                          <ng-template pTemplate="header">
                            <h6>Chọn một mật khẩu</h6>
                          </ng-template>
                          <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2">Đề xuất</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                              <li>Có ít nhất 1 kí tự thường</li>
                              <li>Có ít nhất 1 kí tự hoa</li>
                              <li>Có ít nhất 1 kí tự số</li>
                              <li>Tối thiểu có 8 kí tự</li>
                              <li>Tối thiểu 1 kí tự đặc biệt</li>
                            </ul>
                          </ng-template>
                        </p-password>
                        <p-message
                          severity="error"
                          *ngIf="displayMessage.newPassword"
                          text="{{ displayMessage.newPassword }}"
                        ></p-message>
                      </div>
                      <div class="form-group mb-4">
                        <label for="checkingPassword"
                          >Xác nhận mật khẩu mới</label
                        >
                        <p-password
                          [(ngModel)]="checkingPassword"
                          [feedback]="false"
                          appInputRestriction
                      formControlName="checkingPassword"
                          [class]="
                            displayMessage.checkingPassword
                              ? 'ng-dirty ng-invalid'
                              : ''
                          "
                        ></p-password>
                        <p-message
                          severity="error"
                          *ngIf="displayMessage.checkingPassword"
                          text="{{ displayMessage.checkingPassword }}"
                        ></p-message>
                      </div>
                      <div class="flex justify-content-center mt-5">
                        <button
                          class="btn btn-primary"
                          type="submit"
                          [title]="
                            brandForm.valid
                              ? 'Nhấn để khôi phục'
                              : 'Chỉ có thể khôi phục khi dữ liệu nhập vào không bị lỗi'
                          "
                          [disabled]="!brandForm.valid"
                          *ngIf="!loading"
                        >Cập nhật</button>
                        <button
                          class="btn btn-primary"
                          [disabled]="true"
                          *ngIf="loading"
                        >
                          <i class="pi pi-spin pi-spinner"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
