<div class="wrapper">
  <div class="cd-section" id="teams">
    <div class="team-3">
      <div class="container-fluid px-6">
        <div class="row">
          <div class="col-md-8 mx-auto text-center my-5">
            <h3 class="display-3">Thành viên phát triển CREL</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card card-profile" data-image="profile-image">
              <div class="card-header">
                <div class="card-image">
                  <a href="javascript:;">
                    <img
                      class="img rounded"
                      src="assets/img/team/minh.jpg"
                    />
                  </a>
                </div>
              </div>
              <div class="card-body pt-0 px-2">
                <h4 class="display-4 mb-0">Đặng Công Minh</h4>
                <p class="lead text-muted">Front End Developer</p>
                <div class="table-responsive">
                  <ul class="list-unstyled">
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-atom"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Đam mê công việc</h6>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-success mr-3">
                            <i class="ni ni-user-run"> </i>
                          </div>
                        </div>
                        <div><h6 class="mb-1">Khả năng chịu áp lực</h6></div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-danger mr-3">
                            <i class="ni ni-chart-bar-32"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Sẵn sàng nghiên cứu</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-profile" data-image="profile-image">
              <div class="card-header">
                <div class="card-image">
                  <a href="javascript:;">
                    <img
                      class="img rounded"
                      src="assets/img/team/dat.png"
                    />
                  </a>
                </div>
              </div>
              <div class="card-body pt-0 px-2">
                <h4 class="display-4 mb-0">Đỗ Thành Đạt</h4>
                <p class="lead text-muted">Back End Developer</p>
                <div class="table-responsive">
                  <ul class="list-unstyled">
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-atom"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Sẵn sàng học cái mới</h6>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-success mr-3">
                            <i class="ni ni-user-run"> </i>
                          </div>
                        </div>
                        <div><h6 class="mb-1">Khả năng lập kế hoạch</h6></div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-danger mr-3">
                            <i class="ni ni-chart-bar-32"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Tinh thần làm việc theo nhóm</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-profile" data-image="profile-image">
              <div class="card-header">
                <div class="card-image">
                  <a href="javascript:;">
                    <img class="img rounded" src="assets/img/team/long.jpg" />
                  </a>
                </div>
              </div>
              <div class="card-body pt-0 px-2">
                <h4 class="display-4 mb-0">Nguyễn Bá Phi Long</h4>
                <p class="lead text-muted">Mobile Developer</p>
                <div class="table-responsive">
                  <ul class="list-unstyled">
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-atom"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Tư duy áp dụng kỹ thuật</h6>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-success mr-3">
                            <i class="ni ni-user-run"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Kỹ năng giải quyết vấn đề</h6>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-danger mr-3">
                            <i class="ni ni-chart-bar-32"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Tôn trọng thời hạn</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-profile" data-image="profile-image">
              <div class="card-header">
                <div class="card-image">
                  <a href="javascript:;">
                    <img class="img rounded" src="assets/img/team/ngoc.jpg" />
                  </a>
                </div>
              </div>
              <div class="card-body pt-0 px-2">
                <h4 class="display-4 mb-0">Nguyễn Thị Hồng Ngọc</h4>
                <p class="lead text-muted">Front End Developer</p>
                <div class="table-responsive">
                  <ul class="list-unstyled">
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="ni ni-atom"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Kỹ năng trình bày</h6>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-success mr-3">
                            <i class="ni ni-user-run"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Phù hợp với môi trường làm việc</h6>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-danger mr-3">
                            <i class="ni ni-chart-bar-32"> </i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">Kỹ năng gỡ lỗi</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
