.card {
    padding: 0rem;
    border: 1px solid #f8f9fa;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  }
  ::ng-deep {
    .p-button-link {
        float: left;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}